@if (auth) {
  <ember-scanner-pin [branding]="branding" [busy]="pinPending" [error]="pinError"
    (pinChange)="clearPinError()" (pinSubmit)="authenticate($event)"></ember-scanner-pin>
} @else {
<div class="ember-status">
  <div class="branding">{{ branding }}</div>
  <div class="led" [ngClass]="ledStyle"></div>
</div>
<div class="ember-display" [ngClass]="{ idle: !dimmer }" (dblclick)="toggleFullscreen.emit()">
  <div class="row three">
    <div>
      <span>{{ clock | date:timeFormat }}</span>
    </div>
    <div>
      @if (!linked) {
        <span>NO LINK</span>
      }
      @if (linked && showListenersCount) {
        <span>Listeners: {{ listeners }}</span>
      }
    </div>
    <div>
      <span>Calls Waiting: {{ callQueue }}</span>
    </div>
  </div>
  <div class="row small"></div>
  <div class="row">
    <div>
      <span>{{ callSystem }}</span>
    </div>
    <div>
      <span>{{ type | uppercase }}</span>
    </div>
    <div>
      <span>{{ callTag }}</span>
    </div>
  </div>
  <div class="row">
    <div>
      <span>{{ callTalkgroup }}</span>
    </div>
    <div></div>
    <div>
      <span>{{ callDate | date:'MM/dd' }} </span>
      <span>{{ callProgress | date:timeFormat }}</span>
    </div>
  </div>
  <div class="row big full">
    <span>{{ callTalkgroupName }}</span>
  </div>
  <div class="row">
    <div>
      <span>Freq: {{ callFrequency || 0 }}</span>
    </div>
    <div></div>
    <div>
      <span>TGID: {{ callTalkgroupId || 0 }}</span>
    </div>
  </div>
  <div class="row">
    <div>
      <span>Errors: {{ callError || 0 }} Spike: {{ callSpike || 0 }} </span>
    </div>
    <div></div>
    <div>
      @if (callUnit) {
        <span>UID: {{ callUnit }}</span>
      }
    </div>
  </div>
  <div class="row right small">
    <div></div>
    <div></div>
    <div>
      @if (tempAvoid) {
        <div>
          <span class="flag" [ngClass]="{ flaged: avoided || patched }">&#x23f2;&#xFE0E; {{ tempAvoid }}M</span>
        </div>
      }
      <div>
        <span class="flag" [ngClass]="{ flaged: avoided }">AVOID</span>
      </div>
      <div>
        <span class="flag" [ngClass]="{ flaged: patched }">PATCH</span>
      </div>
      <div>
        <span class="flag" [ngClass]="{ flaged: delayed }">DELAYED</span>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <table class="history">
      <thead>
        <tr>
          <th>
            <span>Time</span>
          </th>
          <th>
            <span>System</span>
          </th>
          <th>
            <span>Talkgroup</span>
          </th>
          <th>
            <span>Name</span>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (previousCall of callHistory; track $index) {
          <tr [ngClass]="{
            'replaying': previousCall?.id !== null && previousCall?.id === call?.id,
            'selected': previousCall?.id === selectedHistoryCallId
          }">
            <td>
              <span>{{ previousCall?.dateTime | date:timeFormat }}</span>
            </td>
            <td>
              <span>{{ previousCall?.systemData?.label || previousCall?.system}}</span>
            </td>
            <td>
              <span>{{ previousCall?.talkgroupData?.label || previousCall?.talkgroup }}</span>
            </td>
            <td>
              <span>{{ previousCall?.talkgroupData?.name || previousCall?.frequency }}</span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="ember-control">
  <div class="row">
    <button class="ember-button" (click)="livefeed()"
      [ngClass]="{ off: livefeedOffline && !playbackMode, on: livefeedOnline, partial: playbackMode }">
      LIVE<br>FEED
    </button>
    <div class="spacer"></div>
    <button class="ember-button" (click)="holdTalkgroup()" [ngClass]="{ off: !holdTg, on: holdTg }">
      HOLD<br>TALKGROUP
    </button>
    <div class="spacer"></div>
    <button class="ember-button icon-button" (click)="playHistory(-1)" aria-label="Play the recording above">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
  <div class="row">
    <button class="ember-button" (click)="replay()">
      REPLAY<br>LAST
    </button>
    <div class="spacer"></div>
    <button class="ember-button" (click)="avoid()">
      AVOID
    </button>
    <div class="spacer"></div>
    <button class="ember-button icon-button" (click)="playHistory(1)" aria-label="Play the recording below">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
  <div class="row">
    <button class="ember-button" (click)="showSearchPanel()">
      SEARCH
    </button>
    <div class="spacer"></div>
    <button class="ember-button" (click)="cycleVolume()" [attr.aria-label]="'Volume ' + volumeLevel + ' percent'">
      VOLUME<br>{{ volumeLevel ? volumeLevel + '%' : 'MUTED' }}
    </button>
    <div class="spacer"></div>
    <button class="ember-button icon-button" (click)="toggleFullscreenButton()" aria-label="Toggle fullscreen">
      <mat-icon>fullscreen</mat-icon>
    </button>
  </div>
</div>
<hr class="talkgroup-divider">
<section class="talkgroups" aria-labelledby="talkgroups-heading">
  <h2 id="talkgroups-heading">Talkgroups</h2>
  <ember-scanner-select></ember-scanner-select>
</section>
@if (email) {
  <div class="ember-help">
    <button mat-icon-button (click)="showHelp()">
      <mat-icon>help_center</mat-icon>
    </button>
  </div>
}
}
