@use "@angular/material" as mat;

@use "./styles/material-icons" as *;
@use "./styles/roboto-fonts" as *;
@use "./styles/admin-polish" as *;

@include mat.elevation-classes();
@include mat.app-background();

$ember-scanner-font-family: Roboto, "Helvetica Neue", sans-serif;

$ember-scanner-primary: mat.m2-define-palette(mat.$m2-grey-palette, 800, 50);
$ember-scanner-accent: mat.m2-define-palette(mat.$m2-green-palette);
$ember-scanner-warn: mat.m2-define-palette(mat.$m2-red-palette);
$ember-scanner-typography: mat.m2-define-typography-config(
	$font-family: $ember-scanner-font-family,
);

$ember-scanner-theme: mat.m2-define-light-theme(
	(
		color: (
			primary: $ember-scanner-primary,
			accent: $ember-scanner-accent,
			warn: $ember-scanner-warn,
		),
	)
);

@include mat.all-component-themes($ember-scanner-theme);
@include mat.all-component-typographies($ember-scanner-typography);

body {
	font-family: $ember-scanner-font-family;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body,
html {
	background-color: #1e1e1e;
	height: 100%;
}

body {
	height: 100dvh;
}
