@if (!authenticated) {
  <ember-scanner-admin-login></ember-scanner-admin-login>
}
@if (authenticated) {
  <ember-scanner-admin-todos></ember-scanner-admin-todos>
  <mat-accordion displayMode="flat">
    <mat-expansion-panel #configPanel (afterCollapse)="configComponent.closeAll()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
          Config
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ember-scanner-admin-config #configComponent></ember-scanner-admin-config>
    </mat-expansion-panel>
    <mat-expansion-panel (afterExpand)="logsComponent.reload()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>article</mat-icon>
          Logs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ember-scanner-admin-logs #logsComponent></ember-scanner-admin-logs>
    </mat-expansion-panel>
    <mat-expansion-panel (afterCollapse)="toolsComponent.closeAll()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>build</mat-icon>
          Tools
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ember-scanner-admin-tools #toolsComponent (config)="configComponent.reset($event, { dirty: true }); configPanel.open()"></ember-scanner-admin-tools>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle (click)="logout()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>logout</mat-icon>
          Logout
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
}