<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #activityPanel [autoFocus]="true" [disableClose]="true" position="end"
        (openedChange)="activityOpen = $event">
        @if (activityOpen) {
          <ember-scanner-activity-screen (close)="activityPanel.close()" />
        }
    </mat-sidenav>
    <mat-sidenav #searchPanel [autoFocus]="false" [disableClose]="true" position="start">
        <div class="panel search">
            <mat-toolbar>
                <div>
                    <button mat-icon-button (click)="searchPanel.close()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-toolbar>
            <div #scrollableSearch>
                <div>
                    <ember-scanner-search #searchComponent></ember-scanner-search>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ember-scanner-main #mainComponent
            (openActivityPanel)="activityOpen = true; activityPanel.open()"
            (openSearchPanel)="scrollTop(scrollableSearch); searchPanel.open(); searchComponent.searchCalls()"
            (toggleFullscreen)="toggleFullscreen()">
        </ember-scanner-main>
    </mat-sidenav-content>
</mat-sidenav-container>
@if (mainComponent.email) {
  <div class="ember-help">
    <button mat-icon-button (click)="mainComponent.showHelp()" aria-label="Help and support">
      <mat-icon>help_center</mat-icon>
    </button>
  </div>
}
