<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #searchPanel [autoFocus]="false" [disableClose]="true" position="start">
        <div class="panel search">
            <mat-toolbar>
                <div>
                    <button mat-icon-button (click)="searchPanel.close()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-toolbar>
            <div #scrollableSearch>
                <div>
                    <ember-scanner-search #searchComponent></ember-scanner-search>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ember-scanner-main
            (openSearchPanel)="scrollTop(scrollableSearch); searchPanel.open(); searchComponent.searchCalls()"
            (toggleFullscreen)="toggleFullscreen()">
        </ember-scanner-main>
    </mat-sidenav-content>
</mat-sidenav-container>
