@if (todos.length) {
  <div class="todo-list">
    @for (todo of todos; track todo.message) {
      <div class="todo-item" [class.warning]="todo.level === 'warn'">
        <span class="todo-icon">
          <mat-icon>{{ todo.level === 'warn' ? 'warning' : 'info' }}</mat-icon>
        </span>
        <span>{{ todo.message }}</span>
      </div>
    }
  </div>
} @else {
  <div class="todo-empty">
    <span class="todo-empty-icon"><mat-icon>check</mat-icon></span>
    <div>
      <strong>Everything looks good</strong>
      <span>There are no recommended actions right now.</span>
    </div>
  </div>
}
